# Node.js dependencies
node_modules/

# Umgebungsvariablen
.env

# Supabase CLI-Binaries
supabase.exe

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# VS Code Settings (optional, falls du nichts Workspace-spezifisches mit synchronisieren willst)
.vscode/

